*{
    box-sizing: border-box;
}
body{
    background-color: #22014d;
}
header{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: black;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
h2{
    margin-left: 50px;
}
.container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 10px;
    margin-left: 50px;
    height: 350px;
    width: 1080px;
    justify-content: space-between;
}
.pelicula{
    padding-left:10px;
    padding-right: 10px;
}
.poster{
    height: 300px;
}
.nombre{
    display: block;
}
