*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #22014d;
    background-image: url(./imgCss/bacground2.png);
    background-size: contain;
}

header{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color:#16032fa2;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
h2{
    margin-left: 50px;
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    margin-left: 50px;
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 10px;
    margin-left: 50px;
    height: 350px;
    width: 1080px;
    justify-content: space-between;
}
.pelicula{
    padding-left:10px;
    padding-right: 10px;
}
.poster{
    height: 300px;
}
.nombre{
    display: block;
    text-align: center;
}
.año{
    display: block;
    text-align: center;
    color:rgb(144, 132, 132);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
